<div class="container mt-5">
  <% if @projects.any? %>
    <h1>Projects</h1>
    <% @projects.each do |project| %>
      <h2>Project name : <%=link_to project.name, project_path(project)%></h2><Br>
    <%end %>
  <% else %>
    <h1>No projects added yet by manager</h1>
  <%end %>
</div>