<div class="container mt-5">
    <% if @projects.any? %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="list-group">
          <div class="list-group-item list-group-item-action active">
            Projects
          </div>
          <% @projects.each do |project| %>
            <div class="list-group-item list-group-item-action">
              Project name : <%=link_to project.name, project_path(project)%>
             </div>
        <%end %>
        </div>
      </div>
    <% else %>
      <h1>No projects added yet by manager</h1>
    <%end %>
  </div>
</div>