<div class="container m-5 p-2">
  <div class="card text-dark bg-light mb-3 " style="max-width: 18rem;">
    <div class="card-header">Project title : <%= @project.name %></div>
    Users :
    <% @project.users.each do |user| %>
      <div class="card-body">
        <h5 class="card-title">name : <%= user.name %></h5>
        <p class="card-text">type : <%= user.user_type %></p>
      </div>
    <% end %>
  </div>
</div>
