<div class="container mt-5">
  <% if @bugs.length == 0 %>
    <h1>No bugs created yet</h1>
  <%else %>
    <% @bugs.each do |bug| %>
      <div class="container shadow p-3 mb-3 bg-success rounded", id="bug">
        <h3><%= bug.bug_type %> name : <%= link_to bug.title, bug_path(bug), id:"bugname" %> <span class="badge badge-secondary"><%= bug.status %></span></h3><br>
        project name : <%= bug.project.name %>
      </div>
    <% end %>
  <% end %>
</div>

