/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
$text-color: black;
#signUp{
  width: 30%;
  background-color: #2c98a1;
}
html,
body{
  background-color: #ccccc9;
  color: $text-color;
  height: 100%;
}
.navbar {
  background-color: #0e185b !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white;
}
#forget {
  color: $text-color;
}
.login{
  color: $text-color;
}
#bug{
  width: 30%;
}
#bugname{
  color: $text-color;
}
#home-container {
  margin-top: 25px;
}
p {
  color: black;
}
#page-content {
  flex: 1 0 auto;
}
.display-4{
  color: black;
}
#bugindex{
  justify-content: center;
}

